node_modules
npm-debug.log*
Dockerfile*
.dockerignore
.git
.gitignore
.
.env
.env.*
coverage
logs
*.sqlite
.prisma
src/tests
tests
**/__tests__/
.tmp
**/*.md
**/*.MD
postman
k8s
uploads

# OS/IDE
.DS_Store
.vscode
.idea
Thumbs.db

# Prisma build artifacts
prisma/*.db
